<!--footer start -->
<footer id="footer" class="gray text-center">
    <div class="container">
        <a href="index.html" class="footer-logo">
          <img src="{{ "/img/logo-footer.png" | relURL }}" alt="" />
        </a>
        <div class="social-link circle m-top-80 m-bot-80">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="copyrigh text-uppercase">
            Diseño y desarrollo por www.creativocorp.com
        </div>
        <div class="copyright text-uppercase">
            todos los derechos reservados por “treinta y ocho dos de nicaragua”
        </div>
    </div>
    </div>
    <img src="" alt="">

</footer>
<!--footer end-->
</div>
<!-- inject:js -->
<script src="{{ "/vendor/modernizr/modernizr.js" | relURL }}"></script>
<script src="{{ "/vendor/jquery/jquery-1.10.2.min.js" | relURL }}"></script>
<script src="{{ "/vendor/bootstrap/js/bootstrap.min.js" | relURL }}"></script>
<script src="{{ "/vendor/breakpoint/breakpoint.js" | relURL }}"></script>
<script src="{{ "/vendor/count-to/jquery.countTo.js" | relURL }}"></script>
<script src="{{ "/vendor/countdown/jquery.countdown.js" | relURL }}"></script>
<script src="{{ "/vendor/easing/jquery.easing.1.3.js" | relURL }}"></script>
<script src="{{ "/vendor/easy-pie-chart/jquery.easypiechart.min.js" | relURL }}"></script>
<script src="{{ "/vendor/elasic-slider/jquery.eislideshow.js" | relURL }}"></script>
<script src="{{ "/vendor/flex-slider/jquery.flexslider-min.js" | relURL }}"></script>
<script src="{{ "/vendor/gmap/jquery.gmap.min.js" | relURL }}"></script>
<script src="{{ "/vendor/images-loaded/imagesloaded.js" | relURL }}"></script>
<script src="{{ "/vendor/isotope/jquery.isotope.js" | relURL }}"></script>
<script src="{{ "/vendor/magnific-popup/jquery.magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "/vendor/mailchimp/jquery.ajaxchimp.min.js" | relURL }}"></script>
<script src="{{ "/vendor/menuzord/menuzord.js" | relURL }}"></script>
<script src="{{ "/vendor/nav/jquery.nav.js" | relURL }}"></script>
<script src="{{ "/vendor/owl-carousel/owl.carousel.min.js" | relURL }}"></script>
<script src="{{ "/vendor/smooth/smooth.js" | relURL }}"></script>
<script src="{{ "/vendor/touchspin/touchspin.js" | relURL }}"></script>
<script src="{{ "/vendor/typist/typist.js" | relURL }}"></script>
<script src="{{ "/vendor/sticky/jquery.sticky.min.js" | relURL }}"></script>
<script src="{{ "/vendor/visible/visible.js" | relURL }}"></script>
<script src="{{ "/vendor/wow/wow.min.js" | relURL }}"></script>
<script src="{{ "/js/scripts.js" | relURL }}"></script>
<!-- endinject -->
</body>

</html>