{{ partial "header.html" }}

  <!--hero section-->
        <div class="parallax text-center vertical-align home-banner">
            <div class="container-mid">
                <div class="container">
                    <div class="banner-title">
                        <h3 class="text-uppercase">Un mundo de Productos</h3>
                        <br>
                        <h3 class="text-uppercase">a su alcance</h3>
                        <br>
                        <br>
                        <img src="{{ .Site.BaseURL}}/img/logo-main.png" alt="">
                    </div>
                    <br>
                    <a href="#" class="btn btn-medium btn-dark-solid btn-rounded wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">Productos</a>

                </div>
            </div>
        </div>
        <!--hero section-->
        <!--body content start-->
        <section class="body-content">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        ...
                    </div>
                </div>
            </div>
        </section>
        <!--body content end-->


        <!--contact-->
        <div class="parallax-inner dark parallax-15" id="contact">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="featured-item text-center">
                            <div class="icon wow bounceInDown">
                                <i class="icon-map light-txt"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4 class="light-txt">location</h4>
                            </div>
                            <div class="desc light-txt">
                                Upper Level, Overseas Passenger
                                <br/>Terminal, The Rocks, Sydney 2000
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item text-center">
                            <div class="icon wow bounceInDown">
                                <i class="icon-mobile light-txt"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4 class="light-txt">call us</h4>
                            </div>
                            <div class="desc light-txt">
                                Any time. We are open 24/7
                                <br/>+1 2345-67-89000
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item text-center">
                            <div class="icon wow bounceInDown">
                                <i class="icon-envelope light-txt"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4 class="light-txt">mail us</h4>
                            </div>
                            <div class="desc light-txt">
                                get support via email
                                <br/>mail@massivetheme.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">

            <div class="container">

                <div class="text-center ">
                    <h3 class="text-uppercase"> Conversemos</h3>
                    <div class="half-txt p-top-30">Nuestro personal de atención al cliente esta esperando su llamada para 
                      brindarle el servicio que usted se merece.</div>
                      <h3><b>(505) 2278-6065</b></h3>
                      <br>
                      <br>
                      <h3 class="text-uppercase">o bién escribenos</h3>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form method="post" action="#" id="form" role="form" class="contact-comments">

                            <div class="row">

                                <div class="col-md-6 ">

                                    <div class="form-group">
                                        <!-- Name -->
                                        <input type="text" name="name" id="name" class=" form-control" placeholder="Name *" maxlength="100" required="">
                                    </div>
                                    <div class="form-group">
                                        <!-- Email -->
                                        <input type="email" name="email" id="email" class=" form-control" placeholder="Email *" maxlength="100" required="">
                                    </div>
                                    <div class="form-group">
                                        <!-- phone -->
                                        <input type="text" name="phone" id="phone" class=" form-control" placeholder="Phone" maxlength="100">
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <div class="form-group">
                                        <!-- Comment -->
                                        <textarea name="text" id="text" class="cmnt-text form-control" placeholder="Comment" maxlength="400"></textarea>
                                    </div>
                                    <div class="form-group full-width">
                                        <button type="submit" class="btn btn-small btn-green-solid ">
                                                Send Message
                                            </button>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!--contact-->

{{ partial "footer.html" }}