{{ partial "header.html" }}

<!--hero section-->
<div class="parallax text-center vertical-align home-banner">
    <div class="container-mid">
        <div class="container">
            <div class="banner-title">
                <h3 class="text-uppercase">Un mundo de Productos</h3>
                <br>
                <h3 class="text-uppercase">a su alcance</h3>
                <br>
                <br>
                <img src="{{ .Site.BaseURL}}/img/logo-main.png" alt="">
            </div>
            <br>
            <a href="#" class="btn btn-medium btn-dark-solid btn-rounded wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">Productos</a>

        </div>
    </div>
</div>
<!--hero section-->
<!--body content start-->
<section class="body-content">
    <div class="page-content">
        <div class="container">
            <div class="row text-center">
                <h2 class="text-uppercase">Creemos en Nicaragua</h2>
                <p>Somos un equipo de trabajo dedicado a brindar acceso a las mejores <br> marcas del mercado para los paises
                    centroamericanos. Hemos empezado <br> con el país que tiene mayor aceleración económica en la región.
                    <br> NICARAGUA
                </p>
            </div>
        </div>
    </div>
</section>
<!--body content end-->

<div class="page-content">
    <div class="container">
        <!--feature border box start-->
        <div class="row">
            <div class="col-md-4">
                <div class="featured-item feature-border-box text-left wow fadeInLeft">
                    <div class="icon">
                        <i class="icon-tools2"></i>
                    </div>
                    <div class="title text-uppercase">
                        <h4>Misión</h4>
                    </div>
                    <div class="desc">
                        Representar e importar marcas innovadoras para la satisfacción de nuestros clientes y distribuirlas con un servicio diferenciado
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-item feature-border-box text-left wow fadeInUp">
                    <div class="icon">
                        <i class="icon-mobile"></i>
                    </div>
                    <div class="title text-uppercase">
                        <h4>Visión</h4>
                    </div>
                    <div class="desc">
                        Ser la empresa líder en Nicaragua de productos con valor agregado
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-item feature-border-box text-left wow fadeInRight">
                    <div class="icon">
                        <i class="icon-wine"></i>
                    </div>
                    <div class="title text-uppercase">
                        <h4>Valores</h4>
                    </div>
                    <div class="desc">
                        <ul>
                            <li>Honestidad</li>
                            <li>Servicio</li>
                            <li>Puntualidad</li>
                            <li>Innovación</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--feature border box end-->
    </div>
</div>
<!--feature-->


<!--section-->
<div class="page-content bg-store">
    <div class="exp-block green-bg">
        <div class="container">
            <div class="row center-row">
                <div class="col-md-6">
                    <h3 class="light-txt text-uppercase no-bot-margin" style="text-align:right">Habilidad y Experiencia</h3>
                </div>
                <div class="col-md-6">
                    <h4 class="light-txt text-uppercase no-bot-margin"><b>prestigiosas marcas</b> </h4>
                    <p class="light-txt no-bot-margin"><b>Si usted tiene un producto que desea comercializar en Nicaragua, cuentenos al respecto, nos encantaría
                        conocer su marca y ayudarle a colocarla en el mercado.</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--section-->
<!--section-->
<section class="body-content page-content p-bot-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>Nuestros Productos</h3>

                    <div class="portfolio col-3 portfolio-gallery gutter less-margin ">

                        <div class="portfolio-item cat1 cat3 ">
                            <div class="thumb">
                                <img src="{{"/img/platos.jpg" | relURL }}" alt="">
                                <div class="portfolio-hover">
                                    <div class="action-btn">
                                        <a href="{{"/img/platos.jpg" | relURL }}" class="popup-gallery" title="Title 1"> <i class="icon-basic_magnifier"></i> 
                                            </a>
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="{{"/img/platos.jpg" | relURL }}" class="popup-gallery2" title="Title 1">lightbox view</a></h4>
                                        <p><a href="#">category</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio-item cat2 cat4 ">
                            <div class="thumb">
                                <img src="{{"/img/encendedor.jpg" | relURL }}" alt="">
                                <div class="portfolio-hover">
                                    <div class="action-btn">
                                        <a href="{{"/img/encendedor.jpg" | relURL }}" class="popup-gallery" title="Title 2"> <i class="icon-basic_magnifier"></i> 
                                            </a>
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="{{"/img/encendedor.jpg" | relURL }}" class="popup-gallery2" title="Title 2">lightbox view</a></h4>
                                        <p><a href="#">category</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio-item cat3 cat5 ">
                            <div class="thumb">
                                <img src="{{"/img/chips.jpg" | relURL }}" alt="">
                                <div class="portfolio-hover">
                                    <div class="action-btn">
                                        <a href="{{"/img/chips.jpg" | relURL }}" class="popup-gallery" title="Title 3"> <i class="icon-basic_magnifier"></i> 
                                            </a>
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="{{"/img/chips.jpg" | relURL }}" class="popup-gallery2" title="Title 3">lightbox view</a></h4>
                                        <p><a href="#">category</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio-item cat1 cat4 ">
                            <div class="thumb">
                                <img src="{{"/img/nuevos.jpg" | relURL }}" alt="">
                                <div class="portfolio-hover">
                                    <div class="action-btn">
                                        <a href="{{"/img/nuevos.jpg" | relURL }}" class="popup-gallery" title="Title 4"> <i class="icon-basic_magnifier"></i> 
                                            </a>
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="{{"/img/nuevos.jpg" | relURL }}" class="popup-gallery2" title="Title 4">lightbox view</a></h4>
                                        <p><a href="#">category</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="portfolio-item cat2 cat4">
                            <div class="thumb">
                                <img src="{{"/img/ocb.jpg" | relURL }}" alt="">
                                <div class="portfolio-hover">
                                    <div class="action-btn">
                                        <a href="{{"/img/ocb.jpg" | relURL }}" class="popup-gallery" title="Title 5"> <i class="icon-basic_magnifier"></i> 
                                            </a>
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="{{"/img/ocb.jpg" | relURL }}" class="popup-gallery2" title="Title 5">lightbox view</a></h4>
                                        <p><a href="#">category 3</a> , <a href="#">category 4</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="portfolio-item cat1 cat4 cat3 cat5">
                            <div class="thumb">
                                <img src="{{"/img/amp.jpg" | relURL }}" alt="">
                                <div class="portfolio-hover">
                                    <div class="action-btn">
                                        <a href="{{"/img/amp.jpg" | relURL }}" class="popup-gallery" title="Title 6"> <i class="icon-basic_magnifier"></i> 
                                            </a>
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="{{"/img/amp.jpg" | relURL }}" class="popup-gallery2" title="Title 6">lightbox view</a></h4>
                                        <p><a href="#">category 5</a> , <a href="#">category 6</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!--section-->
<div class="dark brown-bg">
    <div class="container">
        <div class="row">
            <!--title-->
            <div class="main-map text-center">
                <div class="slogan light-txt text-uppercase">"Del <span class="green-txt">Mundo</span> para usted"</div>
            </div>
            <!--title-->
        </div>
    </div>
</div>
<!--section-->


<div class="page-content">
    <div class="container ">
        <div class="row">
            <div class="service-section text-center">
                <h3 class="text-uppercase"> Servicios </h3>
                <p class="text-uppercase "> CONTAMOS CON UNA AMPLIA RED DE DISTRIBUCIÓN. UBICADOS EN LOS MEJORES PUNTOS DE COMERCIO, <br> SEGMENTACIÓN
                    ALTA PARA DEFINIR NUESTROS MERCADOS META Y UBICAMOS EL PRODUCTO SEGUN LAS MÉTRICAS <br> DE NUESTROS ESTUDIOS
                    DE MERCADO. </p>
            </div>

            <div class="col-md-4">
                <div class="featured-item text-center">
                    <div class="icon bottom-border">
                        <i class="icon-mobile"></i>
                    </div>
                    <div class="title text-uppercase">
                        <h4>Representación de Marcas</h4>
                    </div>
                    <div class="desc">
                        We are a team of multi-skilled and curious digital specialists who are always up for a
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-item text-center">
                    <div class="icon bottom-border">
                        <i class="icon-browser2"></i>
                    </div>
                    <div class="title text-uppercase">
                        <h4>Comercialización</h4>
                    </div>
                    <div class="desc">
                        We are a team of multi-skilled and curious digital specialists who are always up for a
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-item text-center">
                    <div class="icon bottom-border">
                        <i class="icon-laptop2"></i>
                    </div>
                    <div class="title text-uppercase">
                        <h4>Canal de Distribución</h4>
                    </div>
                    <div class="desc">
                        We are a team of multi-skilled and curious digital specialists who are always up for a
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--section-->
<div class="page-content green-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-8">
                <div class="heading-title m-bot-0">
                    <h3 class="text-uppercase" style="color:#434343">Somos muy bueno en lo que hacemos</h3>
                    <p class="light-txt">We are a team of multi-skilled and curious digital specialists who are always up for a challenge and
                        learning as fast as digital is changing. We are a team of multi-skilled and curious digital specialists
                        who are always up for a challenge. Multi-skilled and curious digital specialists.
                    </p>
                    <a href="#" class="btn btn-small btn-rounded green-btn "> ESCRIBENOS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--section-->

<!--section-->
<div class="page-content cream-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{"/img/subcription-mail.png" | relURL }}" alt="mail">
            </div>
            <div class="col-md-6" style="margin-top:35px;">
                <div class="heading-title m-bot-0">
                    <div class="info">
                        <h5 class="text-uppercase" style="color:#222222">suscribase y sea primero en descubrir <br> los nuevos productos disponibles</h5>
                    </div>
                    <div class="subscribe">
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button type="submit" class="btn btn-small btn-rounded btn-dark-solid text-uppercase">
                                            subscribe
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--section-->

<!--clients-->
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="clients plus-box grid-4 ">
                                <li>
                                    <a href="{{ "/product/bioware/" | relURL }}">
                                        <img class="link-thumb" src="{{ "/img/product/bioware-logo.jpg" | relURL}}" alt="Bioware">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "#" | relURL }}">
                                        <img class="link-thumb" src="{{ "/img/product/default-logo1.jpg" | relURL}}" alt="Bioware">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "/product/vicente/" | relURL }}">
                                        <img class="link-thumb" src="{{ "/img/product/vicente-logo.png" | relURL}}" alt="Bioware">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "/product/i2go/" | relURL }}">
                                        <img class="link-thumb" src="{{ "/img/product/i2go-logo.jpg" | relURL}}" alt="Bioware">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "/product/ocb/" | relURL }}">
                                        <img class="link-thumb" src="{{ "/img/product/ocb-logo.jpg" | relURL}}" alt="Bioware">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "/product/ampup/" | relURL }}">
                                        <img class="link-thumb" src="{{ "/img/product/ampup-logo.jpg" | relURL}}" alt="Bioware">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "/product/gil/" | relURL }}">
                                        <img class="link-thumb" src="{{ "/img/product/gil-logo.jpg" | relURL}}" alt="Bioware">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ "#" | relURL }}">
                                        <img class="link-thumb" src="{{ "/img/product/default-logo1.jpg" | relURL}}" alt="Bioware">
                                    </a>
                                </li>
                                
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!--clients-->




<div class="page-content">

    <div class="container">
        <div class="row">

            <div class="text-center ">
                <h3 class="text-uppercase"> Conversemos</h3>
                <div class="half-txt p-top-30">Nuestro personal de atención al cliente esta esperando su llamada para brindarle el servicio que usted se
                    merece.
                </div>
                <h3><b>(505) 2278-6065</b></h3>
                <br>
                <br>
                <h3 class="text-uppercase">o bién escribenos</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form method="post" action="#" id="form" role="form" class="contact-comments">

            <div class="row">

                <div class="col-md-6 ">

                    <div class="form-group">
                        <!-- Name -->
                        <input type="text" name="name" id="name" class=" form-control" placeholder="Name *" maxlength="100" required="">
                    </div>
                    <div class="form-group">
                        <!-- Email -->
                        <input type="email" name="email" id="email" class=" form-control" placeholder="Email *" maxlength="100" required="">
                    </div>
                    <div class="form-group">
                        <!-- phone -->
                        <input type="text" name="phone" id="phone" class=" form-control" placeholder="Phone" maxlength="100">
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="form-group">
                        <!-- Comment -->
                        <textarea name="text" id="text" class="cmnt-text form-control" placeholder="Comment" maxlength="400"></textarea>
                    </div>
                    <div class="form-group full-width">
                        <button type="submit" class="btn btn-small btn-green-solid ">
                                                Send Message
                                            </button>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
</div>

</div>
<!--contact-->

<!--section-->
<div class="dark brown-bg">
    <div class="container">
        <div class="row">
            <!--title-->
            <div class="main-map text-center">
                <div class="map-icon">
                    <a href="#" title="lightbox view"> <img src="{{"/img/map-marker.png" | relURL}}" alt="map"> </a>
                </div>
                <span class=" light-txt text-uppercase">Click para ubicarnos en el mapa </span>
            </div>
            <!--title-->
        </div>
    </div>
</div>
<!--section-->

{{ partial "footer.html" }}